#root{
    background-color:hsl(220, 75%, 50%);
    height: 100%;
    width:100%
}

html,
body,
#root,.app > div {
    background-color:hsl(220, 75%, 50%);    
    height: 100%;
    overflow-x: hidden;
}