#container {
    width: 800;
    height: 800px;
    background-color: rgb(110, 167, 182);
}
.affix {
    position:absolute;
    top: 20%;
    left: 80%;
}
.build-btn {
    background-color: rgb(204, 222, 240);
    font-size: larger;
}

.endTurn-btn, .undoTurn-btn {
    background-color: rgb(204, 222, 240);
    font-size: larger;
}

