#gameboard {
    /* width: 800px;  */
    /* height: 800px; */
    /* width: 100%;*/
    width:100vw;
    height:100vh;
    /* min-width: 100vw;
    min-height: 100vh;   */
    background-color: rgb(110, 167, 182);
    background-image: linear-gradient(rgb(19, 160, 196),blue);
}

